# User-specific files
*.suo
*.user
*.sln.docstates

# Build results
# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# User-specific files
*.user
*.suo

# Visual Studio cache files
# files ending in .cache can be ignored
*.[Cc]ache

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# General
.DS_Store
.AppleDouble
.LSOverride
.idea
.cloud
.project
tmp/
typings/

# Visual Studio 2015 cache/options directory
.vs/